@import 'leaflet/dist/leaflet.css';
@import '/src/styles/highlight/prism-base16-ateliersulphurpool.light.css';
@import '@fontsource-variable/nunito';
@import '@fontsource-variable/overpass';
@import '@fontsource/jetbrains-mono';
@import '@fontsource/fira-mono';

body {
	margin: 0;
}

main {
	margin: 6em auto 5em auto;
	max-width: 100em;
}

.leaflet-container {
	z-index: 1;
}

/* Markdown Styling*/
.home-doc {
	margin: 0 1.5em;
	font-family: 'Overpass Variable', sans-serif;
	color: #343434;
}

.home-doc h2 {
	padding: auto 2em;
	border-block-end: solid 3px #1eb300;
}

.home-doc ul {
	padding-inline-start: 0.5em;
}

.home-doc li {
	padding: 0.3em 0;
}

.home-doc .task-list-item {
	margin-bottom: 0.4em;
}

.home-doc .task-list-item::marker {
	content: '';
}

/* .home-doc .task-list-item [type='checkbox']:disabled {
  opacity: 1;
} */

.doc {
	font-family: 'Overpass Variable', sans-serif;
	transition: 50ms;
	margin: 0 1em 0 1em;
}

@media screen and (min-width: 764px) {
	.home-doc {
		margin: 5em 7em;
	}
	.doc {
		margin: 0 2em 0 2em;
	}
}

.sidenav-doc {
	margin: 0 1.5em 0 14.5rem;
}

.doc h1,
h2,
h3 {
	font-weight: 500;
}

.doc p {
	color: #444444;
  line-height: 1.6;
}

/* inline code */
p code {
	padding: 0.4em;
	margin: 0 0.2em;
	background-color: #f1f6fa;
	border-radius: 0.3em;
	font-size: 0.85em;
	letter-spacing: 0.5px;
	white-space: nowrap;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	color: #444444;
}

/* table */
.doc-table-container {
	overflow-x: auto;
}

.doc table {
	border-collapse: collapse;
	width: 100%;
	color: #444444;
}

.doc table td,
th {
	border: 1px solid #eeeeee;
	padding: 0.5em 1em;
}

.doc table th {
	padding-top: 0.6em;
	padding-bottom: 0.3em;
	text-align: left;
	background-color: #ececec;
	font-size: 15px;
}

.doc table td {
	font-weight: 300;
	font-size: 15px;
}

.doc table td code {
	font-size: 14px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.language-svelte {
	margin: 0;
}

.div-icon-marker {
	background-color: transparent;
}

.example {
	margin: auto 1em;
	border: solid 1px rgb(219, 219, 219);
	border-radius: 0.4em;
	overflow: hidden;
	box-shadow: rgb(224, 224, 224) 1px 2px 0.5em;
}

@media screen and (min-width: 764px) {
	.example {
		margin: auto 5em;
	}
}

/* map container in examples */
.map-container {
	height: 300px;
}

@media screen and (min-width: 764px) {
	.map-container {
		height: 500px;
	}
}

/* hiding leaflet tooltip triangle in GeoJSON example */
.geojson-map
	.leaflet-tooltip-top:before
	.leaflet-tooltip-bottom:before
	.leaflet-tooltip-left:before
	.leaflet-tooltip-right:before {
	border: none !important;
}

/* example geojson tooltip style */
.geojson-map .example-geojson-tooltip {
	font-family: 'Overpass Variable', sans-serif;
	font-size: 14px;
	font-weight: 500;
	background-color: rgb(246, 246, 246);
	backdrop-filter: blur(10px);
	border-radius: 0.3em;
	border: none;
	box-shadow: none;
	padding: 0.4em 0.6em 0.2em 0.6em;
}
