@import 'leaflet/dist/leaflet.css';

@import '@fontsource-variable/nunito';
@import '@fontsource-variable/overpass';
@import '@fontsource/jetbrains-mono';
@import '@fontsource/fira-mono';

body {
  margin: 0;
}

main {
  margin: 6em auto 5em auto;
  max-width: 70em;
}

/* map container in examples */
.map-container {
  height: 550px;
  min-width: 600px;
  margin: 0.5em 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 1rem;
}

/* Markdown Styling*/

.home-doc {
  margin: 5em 7em; 
  font-family: 'Overpass Variable', sans-serif;
}

.home-doc h2 {
  padding: auto 2em;
  border-block-end: solid 3px #1EB300;  
}

.doc {
  margin: 0 1.5em 0 14.5rem;
  font-family: 'Overpass Variable', sans-serif;
}

/* inline code */
.doc p code {
  padding: 0.15em 0.3em 0.15em 0.3em;
  margin: 0.2em;
  background-color: rgb(233, 233, 233);
  border-radius: 0.2em;
  font-size: 0.85em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.div-icon-marker {
  background-color: transparent;
}