@import '@fontsource-variable/nunito';
@import '@fontsource-variable/overpass';
@import '@fontsource/jetbrains-mono';

body {
  margin: 0;
}

main {
  margin: 6rem auto;
  max-width: 70rem;
}

/* map container in examples */
.map-container {
  height: 550px;
  min-width: 600px;
  margin: 0.5em 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 1rem;
}

/* Markdown Styling*/

.home-doc {
  margin: 5em 4em 5em 10em;
  font-family: 'Overpass Variable', sans-serif;
}

.doc {
  margin: 0 0 0 15rem;
  font-family: 'Overpass Variable', sans-serif;
}

.doc p code {
  padding: 0.15em 0.3em 0.15em 0.3em;
  margin: 0.2em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
  font-size: 0.85em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}